<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div class="row">
    <!-- Single Advisor-->
    <div th:each="char : ${characterResults}" class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
           style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img
                th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
                th:src="@{/images/icon_char/icon_status_fame.png}" src="" width="15px" height="15px" alt="명성">
          <span th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
                style="vertical-align: top ; align-content: end"
                th:text="${char.characterAbilityDTO.adventureFame}"></span>
          <img src=""
               th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
               th:src="@{'https://img-api.neople.co.kr/df/servers/'+${char.serverId}+'/characters/' + ${char.characterId} + '?zoom=2'}"
               width="270px" height="360px" alt="캐릭터 이미지"/>
          <img src=""
               th:if="${char.getCharacterAbilityDTO().adventureFame==null || char.getCharacterAbilityDTO().adventureFame=='0' }"
               th:src="@{'https://img-api.neople.co.kr/df/servers/'+${char.serverId}+'/characters/' + ${char.characterId} + '?zoom=2'}"
               width="270px" height="385px" alt="캐릭터 이미지"/>

          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info" style="text-align : left">
          <h6 th:text="${char.characterAbilityDTO.characterName}">Samantha Sarah</h6>
          <p class="designation" style="color: black" th:if="${char.characterAbilityDTO.adventureName!=null}"
             th:text="${char.characterAbilityDTO.adventureName}">Founder &amp; CEO</p>
          <p class="designation" style="color: black" th:if="${char.characterAbilityDTO.adventureName==null}"
             th:text="${'모험단 없음'}"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>