<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div class="row">
    <!-- Single Advisor-->
    <div th:each="char : ${characterResults}" class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
           style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img
                th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
                th:src="@{/images/icon_char/icon_status_fame.png}" src="" width="15px" height="15px" alt="명성">
          <span th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
                style="vertical-align: top ; align-content: end"
                th:text="${char.characterAbilityDTO.adventureFame}"></span>
          <img src=""
               th:if="${char.getCharacterAbilityDTO().adventureFame!=null && char.getCharacterAbilityDTO().adventureFame!='0' }"
               th:src="@{'https://img-api.neople.co.kr/df/servers/'+${char.serverId}+'/characters/' + ${char.characterId} + '?zoom=2'}"
               width="270px" height="360px" alt="캐릭터 이미지"/>
          <img src=""
               th:if="${char.getCharacterAbilityDTO().adventureFame==null || char.getCharacterAbilityDTO().adventureFame=='0' }"
               th:src="@{'https://img-api.neople.co.kr/df/servers/'+${char.serverId}+'/characters/' + ${char.characterId} + '?zoom=2'}"
               width="270px" height="385px" alt="캐릭터 이미지"/>

          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info" style="text-align : left">
          <h6 th:text="${char.characterAbilityDTO.characterName}">Samantha Sarah</h6>
          <p class="designation" style="color: black" th:if="${char.characterAbilityDTO.adventureName!=null}"
             th:text="${char.characterAbilityDTO.adventureName}">Founder &amp; CEO</p>
          <p class="designation" style="color: black" th:if="${char.characterAbilityDTO.adventureName==null}"
             th:text="${'모험단 없음'}"></p>
        </div>


        <nav style="text-align: center;">
          <ul class="pagination"
              th:with="start=${(characters.number/5)*5 + 1},
                    last=(${start + 9 < characters.totalPages ? start + 9 : characters.totalPages})">
            <li>
              <a th:href="@{/character/search.df(page=0,characterName=${characterName},serverId=${serverId})}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
            </li>

            <li th:class="${characters.first} ? 'disabled'">
              <a th:href="${characters.first} ? '#' :@{/character/search.df(page=${characters.number -1},characterName=${characterName},serverId=${serverId})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start , last)}" th:class="${page == characters.number + 1} ? 'active'">
              <a th:text="${page }" th:href="@{/character/search.df(page=${page -1},characterName=${characterName},serverId=${serverId})}"></a>
            </li>


            <li>
              <a th:href="@{/character/search.df(page=${characters.totalPages -1},characterName=${characterName},serverId=${serverId})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- 임시 -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-8 col-lg-8">
            <div class="card card-margin">
              <div class="card-body">
                <div class="row search-body">
                  <div class="col-lg-12">
                    <div class="search-result">
                      <div class="result-body">
                        <div class="table-responsive">
                          <div class="characterContainer row" style="min-height: 350px;">
                            <div th:each="char : ${characters}"
                                 class="characterItem col-6 col-sm-4 col-lg-3 col-xl-3">
                              <div class="card" th:data-id="${char.characterId}"
                                   th:data-server="${char.serverId}">
                                <div class="card-header custon-card-header">
                                                            <span><img class="icon-fame"
                                                                       th:src="@{/images/icon_char/icon_status_fame.png}"
                                                                       src="" alt="fame"
                                                                       th:text="${char.adventureFame}"></span>
                                </div>

                                <a class="charImg zoom" data-id="cain">
                                  <img class="card-img-top zoom" style="position: relative;"
                                       th:src="@{'https://img-api.neople.co.kr/df/servers/'+${char.serverId}+'/characters/' + ${char.characterId} + '?zoom=1'}"
                                       src="">
                                </a>
                                <div class="card-body">

                                  <span class="server-name "></span>

                                  <h5 class="character-name m-0"
                                      th:text="${char.characterName}">
                                    김치</h5>
                                  <span class="info-span"
                                        th:text="'LV.'+${char.level}">

											Lv.100

										<a class="job-name" th:text="${char.jobGrowName}">


												眞 데몬슬레이어

										</a>
									</span>
                                </div>
                                <div class="card-footer text-muted dmgView">

                                  <a style="display: inline-block">
                                                                <span class="badge jobBadge"
                                                                      th:text="${char.jobGrowName}"></span>
                                    <span class="badge bg-light text-dark"
                                          style="font-size: 14px; padding: 0 2px 0 2px;">3.9억</span>
                                  </a>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <nav id="pagination"  th:with="start=${(characters.number/maxPage)*maxPage + 1}, end=(${(characters.totalPages == 0) ? 1 : (start + (maxPage - 1) < characters.totalPages ? start + (maxPage - 1) : characters.totalPages)})" aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                              <li  class="page-item"><a th:text="'previous'"
                                                        th:href="@{/character/search.df(page=${start}, serverId=${serverId}, characterName=${characterName})}"
                                                        th:class="'page-link' + (${start} <= 1 ? ' disabled' : '')" class="page-link" href="#" >Previous</a>
                              </li>
                              <li class="page-item"  th:class="page-item" th:each="pageNumber : ${#numbers.sequence(start, end)}" ><a class="page-link" href="#" th:text="${pageNumber}"
                                                                                                                                      th:href="@{/character/search.df(page=${pageNumber}, serverId=${serverId}, characterName=${characterName})}"
                                                                                                                                      th:class="'page-link' + (${pageNumber} == ${characters.number} ? ' disabled' : '')">1</a></li>
                              <li class="page-item"><a class="page-link" href="#"  th:text="'next'"
                                                       th:href="@{/character/search.df(page=${start + 5}, serverId=${serverId}, characterName=${characterName})}"
                                                       th:class="'page-link' + (${characters.number} >= ${end} ? '' : 'disabled')">Next</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<form th:action="@{/character/search.df}" id="search-form" method="get">
  <div class="row">
    <div class="col-12">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-4 p-0">
          <select name="serverId" class="form-control" id="serverId">
            <option value="all">전체</option>
            <option value="adventure">모험단</option>
            <option value="cain">카인</option>
            <option value="diregie">디레지에</option>
            <option value="siroco">시로코</option>
            <option value="prey">프레이</option>
            <option value="casillas">카시야스</option>
            <option value="hilder">힐더</option>
            <option value="anton">안톤</option>
            <option value="bakal">바칼</option>
          </select>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 p-0">
          <input type="text" placeholder="입력" class="form-control" id="characterName"
                 name="characterName">
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 p-0">
          <button type="submit" class="btn btn-base">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-search">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>