<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="/Login/assets/css/main.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/Login/assets/css/bootstrap.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/1d4d31d2f3.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/Login/assets/css/login-register.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/util.css">

    <link rel="stylesheet" href="/header/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/header/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Style -->
    <link rel="stylesheet" href="/header/css/style.css">
    <link href="/css/main.scss" rel="stylesheet">
    <link rel="stylesheet" href="/css/board-char-thumbnail.css">


    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <title>던파모아온오프</title>
    <style>
        .td-footer {
            /* display: inline-block; */
            /* float: right; */
            padding-left: 0;
            padding-right: 0;
            scale:0.9;
        }

        .td-body{
        /* display: block; */
        padding-left: 0;
        width: 40%;
    }
        .td-header{
            width: 27%;
            padding-right: 0;
        }
        .dropdown-menu a{
            color: black;
            text-decoration-line: none;
        }
        .getMoreBtn {
            display: inline-flex;
            padding-right: 30%;
            padding-left: 30%;
            scale: 1.3;
            cursor: pointer;
        }
        .my-page-adventure th{
            width: 35%;
        }

        .myPage-character {
            background-image: url("/images/icon_char/bg_char.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            float: left;
            width: 25px;
            height: 25px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            border: 1.5px solid #898989;
            margin-left: 5px;
        }

        .myPage-character .f-mage {
            position: absolute;
            left: -980%;
            right: -1010%;
            top: -1050%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }


        .myPage-character .default {
            position: absolute;
            left: -980%;
            right: -1010%;
            top: -1030%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .m-gunner {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -700%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .f-gunner {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -850%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .m-fighter {
            position: absolute;
            left: -1000%;
            right: -1030%;
            top: -850%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .f-thief {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -870%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .f-fighter {
            position: absolute;
            left: -980%;
            right: -990%;
            top: -960%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }


        .myPage-character .m-warrior {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -900%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .f-warrior {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -930%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .f-priest {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -930%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .m-priest {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -760%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .m-lancer {
            position: absolute;
            left: -1000%;
            right: -1050%;
            top: -840%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .myPage-character .m-gunwarrior {
            position: absolute;
            left: -1000%;
            right: -1010%;
            top: -810%;
            bottom: -1020%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .boardIcon {
            width: 25px;
            aspect-ratio: auto 25 / 25;
            height: 25px;
            overflow-clip-margin: content-box;
            overflow: clip;
            vertical-align: middle;
        }

        .userLogLink {
            text-decoration-line: none;
            color: black;
        }
    </style>
</head>
<body>
<header id="header">
    헤더
</header>
<div class="container" style="margin-top : 92px">
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b th:text="${user.nickname} +' 님 환영합니다!'">Program Title</b></h4>

                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <p class="card-text text-muted small ">
                            <img src="https://img.icons8.com/metro/26/000000/star.png" class="mr-1 " width="18"
                                 height="18" id="star" th:style="${adventure!=null ? 'color:yellow':'color:silver'}"> <span class="vl mr-2 ml-0" th:if="${adventure!=null}">모험단 : [[${adventure.adventureName}]]  </span>
                            <span class="vl mr-2 ml-0" th:if="${adventure==null}">모험단 X  </span>
                            <span class="font-weight-bold">아이디 : </span><span
                                th:text="${user.userId}+' 이메일 : '+${user.email}"></span></p>
                    </h6>
                </div>
            </div>

        </div>

        <div class="card-footer bg-white px-0 ">
            <div class="row">

                <div class=" col-md-auto ">
                    <a class="btn btn-outlined btn-black text-muted bg-transparent"
                       data-bs-wow-delay="0.7s" data-bs-toggle="modal" href="#"
                       data-bs-target="#detailModifyModal"><img src="https://img.icons8.com/ios/50/000000/settings.png"
                                                             width="19" height="19"> <small>정보 수정</small></a>

                    <i class="mdi mdi-settings-outline"></i>


                    <a href="#" class="btn btn-outlined btn-black text-muted" data-bs-toggle="modal"
                       data-bs-target="#charSearchModal">
                        <img src="https://img.icons8.com/metro/26/000000/link.png" width="20" height="20">
                        <small>캐릭터 등록</small> </a>


                    <a style="cursor:pointer" class="btn btn-outlined btn-black text-muted "
                       onclick="getUserBoardLogs()"
                       data-bs-toggle="modal"
                       data-bs-target="#userLogModal"><small><i class="fa fa-bell-o" style="color:darkred ;scale:1.2"
                                                             aria-hidden="true" th:if="${uncheckedLogCount!=0}"></i>
                        <i class="fa fa-bell-o" style="scale:1.2" aria-hidden="true"
                           th:if="${uncheckedLogCount==0}"></i> 활동 내역</small></a>
                </div>

                <div class="col-md-auto " >
                    <ul class="list-inline">
                        <li class="list-inline-item" style="display:-webkit-inline-box"><a data-bs-toggle="modal"
                                                        data-bs-target="#iconSelectModal" href="#" class="
                         btn btn-outlined btn-black text-muted" style="display:-webkit-inline-box"> <img
                                th:src="${user.profileIconPath}" src=""
                                alt="DP" class="  rounded-circle img-fluid " width="25" height="25"  th:if="${user.profileCharacterIcon==''}">
                            <div th:if="${user.profileCharacterIcon!=''}" class="board-character">
                                <img th:src="${user.profileCharacterIcon}" src=""
                                     th:class="${user.profileCharacterIconClassName}">
                            </div><small style="margin-left:2%">프로필 아이콘
                            변경</small> </a>
                        </li>
                        <li class="list-inline-item" th:if="${user.representCharacterName==''}"><a data-bs-toggle="modal"
                                                        data-bs-target="#charSearchModalForAdventure" href="#" class="
                         btn btn-outlined btn-black text-muted"> <small>모험단 등록</small> </a>
                        </li>
                        <li class="list-inline-item" th:if="${user.representCharacterName!=''}"><a data-bs-toggle="modal"
                                                                                                   data-bs-target="#my-adventure" href="#" class="
                         btn btn-outlined btn-black text-muted"> <small>모험단 관리</small> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-body">
                                    <div class="table-responsive" style="border:none;">
                                        <div th:if="${user.characters.isEmpty() && user.adventureCharacters.isEmpty()}">
                                            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px">
                                                <i class="fa-solid fa-skull-crossbones" style="font-size: 60px"></i>
                                                <div style="font-size: 20px; font-weight: 500; color: #999999; margin-top: 20px">
                                                    캐릭터가 존재하지 않습니다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row charThumb">
                                                <div th:if="${user.adventureCharacters.size()>0}" th:each="char : ${user.adventureCharacters}"
                                                     class="col-12 col-sm-6 col-lg-3">
                                                        <div class="single_advisor_profile wow fadeInUp characterCard"
                                                             data-wow-delay="0.2s"
                                                             style="background-image: url('/images/icon_char/bg_char.jpeg') ;   background-repeat: no-repeat;   background-position: center;
                                                            background-size: cover;">
                                                            <div style="">
                                                                <!-- Team Thumb-->
                                                                <span class="badge bg-light text-dark" style="float:left">
                                                            <img class="icon-fame"
                                                                 th:src="@{/images/icon_char/icon_status_fame.png}"
                                                                 src="" alt="fame"
                                                                 style=""> <small
                                                                        style=" display:inline; color: #d39e00"
                                                                        th:text="${char.adventureFame}"></small> </span>
                                                                <img class="badge bg-light text-dark"
                                                                     th:data-id="${char.characterId}"
                                                                     th:data-server="${char.serverId}"
                                                                     style="display:inline ; float:right; " th:if="${user.representCharacterName!=char.characterName}" width="35x"  src="/images/icon_char/mohum.png">
                                                                <img class="badge bg-light text-dark"
                                                                     th:data-id="${char.characterId}"
                                                                     th:data-server="${char.serverId}"
                                                                     style="display:inline ; float:right; " th:if="${user.representCharacterName==char.characterName}" width="35px" src="/images/icon_char/star-icon.png"></div>

                                                            <div class="advisor_thumb">
                                                                <img th:src="${char.characterImageUrl}"
                                                                     src="" style="scale:1.7" alt="">
                                                                <!-- Social Info-->
                                                            </div>
                                                            <!-- Team Details-->
                                                            <a style="text-decoration-line: none;color: black"
                                                               th:href="@{/characters/detail(characterId=${char.characterId},serverId=${char.serverId})}">
                                                            <div class="single_advisor_details_info"
                                                                 style="text-align: left">
                                                                <h4 style="color: #898989;"
                                                                    th:text="${char.getServerName(char.serverId)}"
                                                                    id="charServerId"></h4>
                                                                <h6 th:text="${char.characterName}">
                                                                    Samantha Sarah</h6>
                                                                <p style="color: #898989" th:text="${char.jobGrowName}"></p>
                                                                <p class="designation" style="color: #898989"
                                                                   th:text="${char.adventureName}">
                                                                </p>
                                                                <p style="display:inline"
                                                                   th:text=" 'Lv.'+${char.level}"></p>
                                                            </div>
                                                            </a>
                                                        </div>
                                                </div>
                                                <!-- Single Advisor-->
                                                <div th:each="char : ${user.characters}"
                                                     class="col-12 col-sm-6 col-lg-3">
                                                    <div class="single_advisor_profile wow fadeInUp characterCard"
                                                         data-wow-delay="0.2s"
                                                         style="background-image: url('/images/icon_char/bg_char.jpeg') ;   background-repeat: no-repeat;   background-position: center;
                                                            background-size: cover;">
                                                        <a style="text-decoration-line: none;color: black"
                                                           th:href="@{/characters/detail(characterId=${char.characterId},serverId=${char.serverId})}">
                                                        <div style="">
                                                            <!-- Team Thumb-->
                                                            <span class="badge bg-light text-dark" style="float:left">
                                                            <img class="icon-fame"
                                                                 th:src="@{/images/icon_char/icon_status_fame.png}"
                                                                 src="" alt="fame"
                                                                 style=""> <small
                                                                    style=" display:inline; color: #d39e00"
                                                                    th:text="${char.adventureFame}"></small> </span>
                                                            <span class="badge bg-light text-dark delete-button"
                                                                  th:data-id="${char.characterId}"
                                                                  th:data-server="${char.serverId}"
                                                                  style="display:inline ; float:right; z-index: 100">삭제</span></div>
                                                        <div class="advisor_thumb">
                                                            <img th:src="${char.characterImageUrl}"
                                                                 src="" style="scale:1.7" alt="">
                                                            <!-- Social Info-->
                                                        </div>
                                                        <!-- Team Details-->

                                                        <div class="single_advisor_details_info"
                                                             style="text-align: left">
                                                            <h4 style="color: #898989;"
                                                                th:text="${char.getServerName(char.serverId)}"
                                                                id="charServerId"></h4>
                                                            <h6 th:text="${char.characterName}">
                                                                Samantha Sarah</h6>
                                                            <p style="color: #898989" th:text="${char.jobGrowName}"></p>
                                                            <p class="designation" style="color: #898989"
                                                               th:text="${char.adventureName}">
                                                            </p>
                                                            <p style="display:inline"
                                                               th:text=" 'Lv.'+${char.level}"></p>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="charSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2);">
                <div class="modal-header" style="padding: 5px;">
                    <div class="input-group" style="z-index: 1;">
                        <div class="input-group">
                            <select name="serverId" id="serverId">
                                <option value="all">전체</option>
                                <option value="adventure">모험단</option>
                                <option value="cain">카인</option>
                                <option value="diregie">디레지에</option>
                                <option value="siroco">시로코</option>
                                <option value="prey">프레이</option>
                                <option value="casillas">카시야스</option>
                                <option value="hilder">힐더</option>
                                <option value="anton">안톤</option>
                                <option value="bakal">바칼</option>
                            </select>
                            <input type="text" placeholder="입력" class="form-control" id="characterName" style="height: 100%"
                                   name="characterName">
                            <button type="button" class="btn btn-info" style="height:39px;" id="btn-search" href="#"
                                    onclick="searchCharacter()">검색
                            </button>
                        </div>
                    </div>
                </div>
                <div id="searchBody" class="modal-body" style="min-height: 300px; max-height: 500px; overflow: auto;">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="charSearchModalForAdventure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2);">
                <div class="modal-header" style="padding: 5px;">
                    <div class="input-group" style="z-index: 1;">
                        <div class="input-group">
                            <select name="serverId" id="serverIdAdventure">
                                <option value="all">전체</option>
                                <option value="adventure">모험단</option>
                                <option value="cain">카인</option>
                                <option value="diregie">디레지에</option>
                                <option value="siroco">시로코</option>
                                <option value="prey">프레이</option>
                                <option value="casillas">카시야스</option>
                                <option value="hilder">힐더</option>
                                <option value="anton">안톤</option>
                                <option value="bakal">바칼</option>
                            </select>
                            <input type="text" placeholder="입력" class="form-control" id="characterNameAdventure" style="height: 100%"
                                   name="characterName">
                            <button type="button" class="btn btn-info" style="height:39px;" id="btn-search-adventure" href="#"
                                    onclick="searchCharacterForAddAdventure()">검색
                            </button>
                        </div>
                    </div>
                </div>
                <div id="searchBodyForAdventure" class="modal-body" style="min-height: 300px; max-height: 500px; overflow: auto;">
                    <h4 style="text-align: center; font-style: inherit">100레벨 이상의 대표캐릭터를 검색해주세요.</h4>
                </div>

                <div class="modal-footer" id="adventure-modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${adventure!=null}" class="modal fade" id="my-adventure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2);">
                <div class="modal-header" style="padding: 5px;">
                    <h5 class="modal-title" id="exampleModalLabel2">모험단 정보</h5>
                    </div>

                <div id="my-adventure-body" class="modal-body" style="min-height: 300px; max-height: 500px; overflow: auto;">
                    <table class="table my-page-adventure">
                        <tbody>
                          <tr>
                            <th scope="row">모험단 이름</th>
                            <td th:text="${adventure.adventureName}"></td>
                          </tr>
                        <tr>
                            <th scope="row">대표 캐릭터</th>
                            <td th:text="${user.representCharacterName}"></td>
                        </tr>
                        <tr>
                            <th scope="row">명성</th>
                            <td th:text="${adventure.getAdventureFame()}"></td>
                        </tr>
                        <tr>
                            <th scope="row">피해증가+버프력</th>
                            <td th:text="${adventure.getAdventureDamageIncreaseAndBuffPower()}"></td>
                        </tr>
                          <tr>
                              <th scope="row">등록된 캐릭터</th>
                              <td >
                                  <div style="display: inline-flex;" class="board-character" th:each="char : ${adventure.characters}" th:data-id="${char.characterId}" th:data-server="${char.serverId}">
                                      <img   th:src="${char.characterImgUrl}" th:class="${char.getImgStyleClassName()}"  th:alt="${char.characterName}">
                                  </div>
                              </td>
                          </tr>
                        <tr>
                            <th scope="row">아이콘 변경</th>
                            <td>
                                <div style="display: inline-flex; cursor:pointer" class="board-character char-icon-select" th:each="char : ${adventure.characters}" th:data-id="${char.characterId}" th:data-server="${char.serverId}"
                                th:data-character-name="${char.characterName}">
                                    <img   th:src="${char.characterImgUrl}" th:class="${char.getImgStyleClassName()}"  th:alt="${char.characterName}">
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="refreshAdventure()">갱신 [[${adventure.modifiedAt}]]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-danger" onclick="deleteAdventure()">연동 해제</button>
                    <input type="hidden" id="adventure-name" th:value="${adventure.adventureName}">
                </div>
            </div>
            </div>
        </div>


    <div class="modal fade notification col-sm-12 col-md-12 col-lg-6 col-xl-6" id="userLogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2); padding:0">
                <div class="modal-header" style="padding: 5px;">
                    <h5 class="modal-title" id="exampleModalLabel2" style="
    font-size: 16px;
    margin-left: 12px;">활동 내역</h5>
                </div>
                <div class="row" style="margin-left:0; margin-right:0;">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                   href="#nav-board" style="text-decoration-line: none"
                                   role="tab" aria-controls="nav-home" aria-selected="true">게시글</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-comment"
                                   role="tab" aria-controls="nav-profile" aria-selected="false" style="text-decoration-line: none"
                                   onclick="getUserCommentLogs()">댓글</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-log" style="text-decoration-line: none"
                                   role="tab" aria-controls="nav-contact" aria-selected="false" onclick="getUserLogs()">알람</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content modal-body" id="nav-tabContent" style="padding:5px">
                        <div class="tab-pane fade show active" id="nav-board" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div style="">
                                <a data-bs-toggle="dropdown"
                                   class="align-items-center dropdown-link " aria-haspopup="true"
                                   aria-expanded="false" data-offset="-70, 20"
                                   style="text-decoration-line: none ;color: black; cursor:pointer">
                                    <div style="padding-left:10px">
                                        <span id="sortByBoard"><i class="fa fa-calendar-o"></i> 최신순</span>
                                        <span class="arrow icon-keyboard_arrow_down"></span></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1000">
                                    <a class="dropdown-item" onclick="getUserBoardLogs('like')"> <span
                                            class="fa fa-heart-o"></span> 좋아요순</a>
                                    <a class="dropdown-item" onclick="getUserBoardLogs('view')"><span
                                            class="fa fa-eye"></span> 조회수순</a>
                                    <a class="dropdown-item" onclick="getUserBoardLogs('commentCount')"><span
                                            class="fa fa-comments-o"></span> 코멘트순</a>
                                    <a class="dropdown-item" onclick="getUserBoardLogs('date')"><span
                                            class="fa fa-calendar-o"></span> 최신순</a>
                                </div>
                            </div>
                            <table class="table" style="table-layout: fixed;"><tbody id="boardLog">

                            </tbody></table>
                            <div style="display: inline-flex; margin-left:10px">
                                <div id="prevBoardssBtn" style=" cursor:pointer" onclick="getUserBoardLogs(-1)"
                                     disabled>
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </div>
                                <span class="text-black" id="boardPage"
                                      style="margin-left:10px ; margin-right:10px">0</span>
                                <div id="nextBoardsBtn" style="cursor:pointer" onclick="getUserBoardLogs(1)" disabled>
                                    <i class="fa fa-arrow-right" style="" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-comment" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div style="">
                                <a data-bs-toggle="dropdown"
                                   class="align-items-center dropdown-link " aria-haspopup="true"
                                   aria-expanded="false" data-offset="-70, 20"
                                   style="text-decoration-line: none ;color: black; cursor:pointer">
                                    <div style="padding-left:10px">
                                        <span id="sortByComment"><i class="fa fa-calendar-o"></i> 최신순</span>
                                        <span class="arrow icon-keyboard_arrow_down"></span></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1000">
                                    <a class="dropdown-item" onclick="getUserCommentLogs('like')"> <span
                                            class="fa fa-heart-o"></span> 좋아요순</a>
                                    <a class="dropdown-item" onclick="getUserCommentLogs('date')"><span
                                            class="fa fa-calendar-o"></span> 최신순</a>
                                </div>
                            </div>
                            <table class="table" style="table-layout: fixed" >
                                <tbody id="commentLog"></tbody>
                            </table>
                            <div style="display: inline-flex; margin-left:10px">
                                <div id="prevCommentsBtn" style=" cursor:pointer" onclick="getUserCommentLogs(-1)"
                                     disabled>
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </div>
                                <span class="text-black" id="commentPage"
                                      style="margin-left:10px ; margin-right:10px">0</span>
                                <div id="nextCommentsBtn" style="cursor:pointer" onclick="getUserCommentLogs(1)"
                                     disabled>
                                    <i class="fa fa-arrow-right" style="" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-log" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div style="">

                            </div>
                            <div id="notification">
                            </div>
                            <div style="display: inline-flex; margin-left:10px">
                                <div id="prevUserLogBtn" style=" cursor:pointer" onclick="getUserLogs(-1)" disabled>
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </div>
                                <span class="text-black" id="userLogPage"
                                      style="margin-left:10px ; margin-right:10px">0</span>
                                <div id="nextUserLogBtn" style="cursor:pointer" onclick="getUserLogs(1)" disabled>
                                    <i class="fa fa-arrow-right" style="" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2);">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel0">정보를 수정합니다!</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="position: relative;
    flex: 1 1 auto;
    padding: 1rem;">
                    <label for="nicknameUpdate" style="color: #898989;">닉네임</label>
                    <div class="input-group mb-3" id="nicknameUpdateForm">
                        <input type="text" class="form-control" id="nicknameUpdate" placeholder="새 닉네임을 입력해주세요.">
                        <button class="btn btn-outline-secondary" type="button" id="nicknameUpdateBtn"
                                onclick="updateNickname()">변경
                        </button>
                        <div class="valid-feedback" id="nicknameUpdateVal">사용 가능한 닉네임 입니다.</div>
                        <div class="invalid-feedback" id="nicknameUpdateNonVal">중복된 닉네임이 존재합니다.</div>
                    </div>
                    <label for="passwordUpdate" style="color: #898989;">비밀번호</label>
                    <div class="input-group mb-3" id="passwordUpdateForm">
                        <input type="password" class="form-control" id="passwordUpdate" placeholder="새로운 비밀번호를 입력해주세요.">
                    </div>
                    <label for="passwordCheckUpdate" style="color: #898989;">비밀번호 확인</label>
                    <div class="input-group mb-3" id="passwordUpdateForm">
                        <input type="password" class="form-control" id="passwordCheckUpdate" placeholder="비밀번호를 재입력 해주세요.">
                        <button class="btn btn-outline-secondary" type="button" id="passwordUpdateBtn"
                                onclick="updatePassword()">변경
                        </button>
                        <div class="valid-feedback" id="passwordUpdateVal">사용 가능한 비밀번호 입니다.</div>
                        <div class="invalid-feedback" id="passwordUpdateNonVal">비밀번호가 일치하지 않습니다.</div>
                    </div>
                    <label for="emailUpdate" style="color: #898989;">이메일</label>
                    <div class="input-group mb-3" id="emailUpdateForm">
                        <input type="text" class="form-control" id="emailUpdate" placeholder="새 이메일을 입력해주세요.">
                        <button class="btn btn-outline-secondary" type="button" id="emailUpdateBtn"
                                onclick="updateEmail()">변경
                        </button>
                        <div class="valid-feedback" id="emailUpdateVal">사용 가능한 이메일 입니다.</div>
                        <div class="invalid-feedback" id="emailUpdateNonVal">중복된 이메일이 존재합니다.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteAccount()" >탈퇴하기</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  >닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="iconSelectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="margin-left:2%"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px" role="document">
            <div class="modal-content" style="    border: 1px solid rgba(0,0,0,.2);">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">환영합니다!</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="position: relative;
    flex: 1 1 auto;
    padding: 1rem;">
                    <span style="color: #898989;"> 변경을 원하는 아이콘을 선택해주세요!</span>
                    <ul class="ub p-0 mt-3 mb-3" style="    margin: 0;
    display: inline-table; box-sizing: border-box;">
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(0)"> <img
                                    th:src="@{/images/icon_char/icon_char_0.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(1)"> <img
                                    th:src="@{/images/icon_char/icon_char_1.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(2)"> <img
                                    th:src="@{/images/icon_char/icon_char_2.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(3)"> <img
                                    th:src="@{/images/icon_char/icon_char_3.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(4)"> <img
                                    th:src="@{/images/icon_char/icon_char_4.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(5)"> <img
                                    th:src="@{/images/icon_char/icon_char_5.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(6)"> <img
                                    th:src="@{/images/icon_char/icon_char_6.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(7)"> <img
                                    th:src="@{/images/icon_char/icon_char_7.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(8)"> <img
                                    th:src="@{/images/icon_char/icon_char_8.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(9)"> <img
                                    th:src="@{/images/icon_char/icon_char_9.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(10)"> <img
                                    th:src="@{/images/icon_char/icon_char_10.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(11)"> <img
                                    th:src="@{/images/icon_char/icon_char_11.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(12)"> <img
                                    th:src="@{/images/icon_char/icon_char_12.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(13)"> <img
                                    th:src="@{/images/icon_char/icon_char_13.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(14)"> <img
                                    th:src="@{/images/icon_char/icon_char_14.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>
                        <li>
                            <a class="userIcon btn-outlined btn-black text-muted" href="#"
                               onclick="changeProfileIcon(15)"> <img
                                    th:src="@{/images/icon_char/icon_char_15.png}" src=""
                                    alt="DP" class="  rounded-circle img-fluid " width="28" height="28"></a>
                        </li>


                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer">
    푸터
</footer>
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>

<script src="/header/js/jquery.sticky.js"></script>
<script src="/header/js/main.js"></script>
<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="/js/mypage.js"></script>

</body>
<script>
    $('.char-icon-select').css('opacity', '0.5');
$('.char-icon-select').mouseover(function () {
    const object = $(this);
    object.css('cursor', 'pointer');
    object.css('opacity', '1');
});

$('.char-icon-select').mouseout(function () {
    const object = $(this);
    object.css('opacity', '0.5');

});

$('.char-icon-select').click(function () {
    const object = $(this);
    const characterName = object.attr('data-character-name');
    const charcterId = object.attr('data-id');
    const serverId = object.attr('data-server');
    if(confirm(characterName+"의 이미지로 아이콘을 설정하시겠습니까?")){
        $.ajax({
            url: '/users/adventure/character-icon',
            type: 'POST',
            data: {
                characterId: charcterId,
                serverId: serverId
            },
            success: function () {
                    alert('아이콘 설정이 완료되었습니다.');
                    location.reload();
            },
            error: function () {
                alert('아이콘 설정에 실패하였습니다.');
            }
        });
    }
});

$('.delete-button').css('opacity', '0.5');
$('.delete-button').mouseover(function () {
    const object = $(this);
    object.css('cursor', 'pointer');
    object.css('opacity', '1');
});

$('.delete-button').mouseout(function () {
    const object = $(this);
    object.css('opacity', '0.5');
});

$('.delete-button').click(function(){
    const object = $(this);
    const characterId = object.attr('data-id');
    const serverId = object.attr('data-server');
        if (confirm("캐릭터를 삭제하시겠습니까?")) {
            $.ajax({
                url: "/users/characters",
                data : {
                    serverId : serverId,
                    characterId : characterId
                },
                type: "DELETE",
                success: function (data) {
                    alert("캐릭터가 삭제되었습니다.");
                    location.reload();
                }, error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
});


</script>
</html>