<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/Login/assets/css/bootstrap.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/Login/assets/css/login-register.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/header/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/header/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/board-char-thumbnail.css">

    <!-- Bootstrap CSS -->
    <!-- Style -->
    <link rel="stylesheet" href="/header/css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
    <style>
        .rank-table {
            cursor: pointer;
        }

        .boardItem > ul {
            position: relative;
            margin: 0 auto;
            width: 100%;
        }

        .board_item_tag1 {
            float: left;
            margin: 0px 0 0 0px;
            font-size: 12px;
            color: #9f9f9f;
            list-style: none;
        }

        @media (min-width: 415px) {
            .board_item_tag2 {
                position: relative;
                float: left;
                margin: 0px 0 0 25px;
                font-size: 12px;
                color: #9f9f9f;
                list-style: none;
            }

            .board_item_tag2:after {
                content: '';
                display: block;
                position: absolute;
                left: -14px;
                top: 3px;
                background: #d0d0d0;
                width: 1px;
                height: 12px;
            }
        }

        @media (max-width: 414px) {
            .board_item_tag2 {
                position: relative;
                float: left;
                margin: 0px 0 0 25px;
                font-size: 12px;
                color: #9f9f9f;
            }

            .board_item_tag2:after {
            }
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }

        html {
            max-width: 100% !important;
            overflow-x: hidden !important;
        }

        body {
            min-height: 1000px;
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }

        @media (max-width: 360px) {
            body {
                width: 360px !important;
                position: absolute;
            }
        }

        .contentBox {
            background-color: #FFF;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 1px 0 rgba(0, 0, 0, -2) !important;
        }

        .sectionHeader {
            border-left: 5px solid #343a40;
            padding: 10px;
            padding-left: 20px;
        }

        .notice_tr, .test_notice_tr, .dunoff_notice_tr {
            font-size: 14px;
            color: gray !important;
        }


        .rank-title {
            scale: 1.35;
            margin-left: 1.5%;

        }

        .character-link {
            text-decoration-color: black;
            color: black;

        }
    </style>
</head>
<body>
<header id="header">
    헤더
</header>
<div style="margin-top:92px ;" class="container">
    <div class="row" style="padding-top: 3%;">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 div_left">
            <div class="contentBox">
                <header class="sectionHeader">
                    <b>전체랭킹</b>

                    <a id="rankAdventureFame" style="margin-left:2%;font-size:13px;font-weight: bold;cursor: pointer;">명성</a>
                    <a id="rankDamageIncrease"
                       style="margin-left:2%;font-size:13px;font-weight: bold;color:#BDBDBD;cursor: pointer;">피해증가</a>
                    <a id="rankBuffPower"
                       style="margin-left:2%;font-size:13px;font-weight: bold;color:#BDBDBD;cursor: pointer;">버프력</a>
                    <a id="adventureRank"
                       style="margin-left:2%;font-size:13px;font-weight: bold;color:#BDBDBD;cursor: pointer;">모험단</a>

                </header>
                <hr>
                <div style="padding-bottom: 10px;">
                    <table class="table" id="rankTable" style="margin:0;">
                        <tbody>
                        <tr class="rank-adventure-fame" th:each="character,i :${adventureFameRanking}">

                            <td style="width:1%" class="rank-table" th:data-id="${character.characterId}"
                                th:data-server="${character.serverId}">
                                <div class="rank-header" th:switch="${i.index}">
                                    <i class="fa fa-crown" style="color:gold;" th:case="0"></i>
                                    <i class="fa fa-crown" style="color:silver;" th:case="1"></i>
                                    <i class="fa fa-crown" style="color:brown;" th:case="2"></i>
                                    <i class="fa-solid fa-4" style="color:black; margin-left: 8%;" th:case="3"></i>
                                    <i class="fa-solid fa-5" style="color:black; margin-left: 8%;" th:case="4"></i>
                                </div>
                            </td>
                            <td>
                                <div class="board-character">
                                    <img th:class="${character.imgStyleClassName}" th:src="${character.characterImgUrl}"
                                         src="">
                                </div>
                            </td>
                            <td>
                                <div class="rank-title">
                                    <span class="badge bg-transparent text-black">
                                        [[${character.characterName}]]
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="rank-body" style=" display: inline-flex;">

                                    <div class="rank-server">
                                        <span class="badge bg-transparent text-secondary"><i class="fa fa-globe"></i> [[${character.serverName}]]</span>
                                    </div>
                                    <div class="rank-jobname" style="margin-left:-5%">
                                        <span class="badge bg-transparent text-secondary">[[${character.jobGrowName}]]</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="rank-footer">
                                    <span class="badge bg-transparent text-secondary">
                                       <img src="/images/icon_char/icon_status_fame.png" width="15" height="13">
                                        명성: <span class="text-black">[[${character.adventureFame}]]</span></span>
                                </div>
                            </td>

                        </tr>


                        <tr class="rank-damage-increase" th:each="character,i :${damageIncreaseRanking}">
                            <td style="width:1%" class="rank-table" th:data-id="${character.characterId}"
                                th:data-server="${character.serverId}">

                                <div class="rank-header" th:switch="${i.index}">
                                    <i class="fa fa-crown" style="color:gold;" th:case="0"></i>
                                    <i class="fa fa-crown" style="color:silver;" th:case="1"></i>
                                    <i class="fa fa-crown" style="color:brown;" th:case="2"></i>
                                    <i class="fa-solid fa-4" style="color:black; margin-left: 8%;" th:case="3"></i>
                                    <i class="fa-solid fa-5" style="color:black; margin-left: 8%;" th:case="4"></i>
                                </div>
                            </td>
                            <td>
                                <div class="board-character">
                                    <img th:class="${character.imgStyleClassName}" th:src="${character.characterImgUrl}"
                                         src="">
                                </div>
                            </td>
                            <td>
                                <div class="rank-title">
                                    <span class="badge bg-transparent text-black">
                                        [[${character.characterName}]]
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="rank-body" style=" display: inline-flex;">

                                    <div class="rank-server">
                                        <span class="badge bg-transparent text-secondary"><i class="fa fa-globe"></i> [[${character.serverName}]]</span>
                                    </div>
                                    <div class="rank-jobname" style="margin-left:-5%">
                                        <span class="badge bg-transparent text-secondary">[[${character.jobGrowName}]]</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="rank-footer">
                                    <span class="badge bg-transparent text-secondary">
                                        <img src="/images/icon_char/damage_increase.png" width="15" height="13">

                                        피증: <span class="text-black">[[${character.damageIncrease}]]</span></span>
                                </div>

                            </td>
                        </tr>


                        <tr class="rank-buff-power" th:each="character,i :${buffPowerRanking}">

                            <td style="width:1%" class="rank-table" th:data-id="${character.characterId}"
                                th:data-server="${character.serverId}">
                                <div class="rank-header" th:switch="${i.index}">
                                    <i class="fa fa-crown" style="color:gold;" th:case="0"></i>
                                    <i class="fa fa-crown" style="color:silver;" th:case="1"></i>
                                    <i class="fa fa-crown" style="color:brown;" th:case="2"></i>
                                    <i class="fa-solid fa-4" style="color:black; margin-left: 8%;" th:case="3"></i>
                                    <i class="fa-solid fa-5" style="color:black; margin-left: 8%;" th:case="4"></i>
                                </div>
                            </td>
                            <td>
                                <div class="board-character">
                                    <img th:class="${character.imgStyleClassName}" th:src="${character.characterImgUrl}"
                                         src="">
                                </div>
                            </td>
                            <td>
                                <div class="rank-title">
                                    <span class="badge bg-transparent text-black">
                                        [[${character.characterName}]]
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="rank-body" style=" display: inline-flex;">

                                    <div class="rank-server">
                                        <span class="badge bg-transparent text-secondary"><i class="fa fa-globe"></i> [[${character.serverName}]]</span>
                                    </div>
                                    <div class="rank-jobname" style="margin-left:-5%">
                                        <span class="badge bg-transparent text-secondary">[[${character.jobGrowName}]]</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="rank-footer">
                                    <span class="badge bg-transparent text-secondary">
                                        <img src="/images/icon_char/buff_power.png" width="15" height="13">
                                        버프력: <span class="text-black">[[${character.buffPower}]]</span></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="rank-adventure-adventure-fame" th:each="adv,i :${advFameRanking}">
                            <td style="width:1%" class="rank-table"
                                th:data-id="${adv.adventureName}" th:data-server="${adv.serverName}">
                                <div class="rank-header" th:switch="${i.index}">
                                    <i class="fa fa-crown" style="color:gold;" th:case="0"></i>
                                    <i class="fa fa-crown" style="color:silver;" th:case="1"></i>
                                    <i class="fa fa-crown" style="color:brown;" th:case="2"></i>
                                    <i class="fa-solid fa-4" style="color:black; margin-left: 8%;" th:case="3"></i>
                                    <i class="fa-solid fa-5" style="color:black; margin-left: 8%;" th:case="4"></i>
                                </div>
                            </td>
                            <td style="width: 25%;padding-bottom: 0;">
                                <div style=" display: inline-flex;flex-direction: row;" th:each="img,j : ${adv.characters}">
                                    <div class="board-character" th:if="${j.index==0}"
                                         style="border:3px solid; color:orangered ;"  >
                                        <img th:class="${img.imgStyleClassName}" th:src="${img.characterImageUrl}"
                                             src="">
                                    </div>
                                    <div class="board-character" th:if="${j.index>0}"
                                         style="margin-left:0; ">
                                        <img th:class="${img.imgStyleClassName}" th:src="${img.characterImageUrl}"
                                             src="">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="rank-title">
                                    <span class="badge bg-transparent text-black">
                                        [[${adv.adventureName}]]
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="rank-body" style=" display: inline-flex;">

                                    <div class="rank-server">
                                        <span class="badge bg-transparent text-secondary"><i class="fa fa-globe"></i> [[${adv.serverName}]]</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="rank-footer">
                                    <span class="badge bg-transparent text-secondary">
                                        <img src="/images/icon_char/icon_status_fame.png" width="15" height="13">
                                        모험단 명성: <span class="text-black">[[${adv.adventureFame}]]</span></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 div_right">
            <div class="contentBox">
                <header class="sectionHeader" style="cursor:pointer;" onclick="location.href='boards/'">
                    <b>통합게시판</b>
                    <span style="float:right;font-size: 14px;padding: 6px;"><i
                            class="fas fa-angle-right"></i></span>
                </header>
                <hr>
                <div style="padding: 5px;">


                    <div class="boardItem" data-id="72630"
                         style="position: relative; display: table; width: 100%; table-layout: fixed; cursor: pointer;
                                 ">
                        <div style="padding: .75rem; margin-left: 3px;" th:each="article :${articles}">
                            <div style="line-height: 20px; font-size: 16px; word-break: break-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <a style="color:black; font-weight: 400; text-decoration-line: none" data-id=""
                                   th:text="${article.boardTitle}" th:href="@{'/boards/'+${article.id}}">회랑3단</a>
                            </div>

                            <div style="margin-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <ul style="margin: 0; display: inline-block; padding: 0;">
                                    <li class="board_item_tag1"><img
                                            th:src="${article.userProfileImgUrl}"
                                            src=""
                                            width="16px" height="16px" style="border-radius: 10px;"><span
                                            style="padding-left: 5px;" th:text="${article.userNickname}">shehdj</span>
                                    </li>
                                    <a th:href="@{/board.df(boardType=${article.boardType})}">
                                        <li class="board_item_tag2"
                                            th:text="${article.getBoardType(article.boardType)}">자유
                                        </li>
                                    </a>

                                    <li class="board_item_tag2">
                                        <time class="timeago" datetime="2023-01-13 0:31:35"
                                              th:text="${article.createdAt}"></time>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa fa-life-ring"></i>
            <strong class="me-auto">알림</strong>
            <small>방금 전</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<footer id="footer">
    푸터
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="/header/js/jquery.sticky.js"></script>
<script src="/header/js/main.js"></script>

<script src="/Login/assets/js/login-register.js" type="text/javascript"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
<script src="/js/scriptfile.js"></script>
<script src="/js/choices.js"></script>
<script src="https://kit.fontawesome.com/1d4d31d2f3.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
            $(".rank-damage-increase").hide();
            $(".rank-buff-power").hide();
            $(".rank-adventure-adventure-fame").hide();
        }
    );

    $(".rank-table").on("click", function () {
            const characterId = $(this).attr("data-id");
            const serverId = $(this).attr("data-server");

            location.href = "/characters/detail?characterId=" + characterId + "&serverId=" + serverId;
        }
    );

    $('#rankAdventureFame').on('click', function () {
        $(this).css('color', 'black');
        $('#rankDamageIncrease').css('color', '#BDBDBD');
        $('#rankBuffPower').css('color', '#BDBDBD');
        $('#adventureRank').css('color', '#BDBDBD');
        $('.rank-damage-increase').css('display', 'none');
        $('.rank-buff-power').css('display', 'none');
        $('.rank-adventure-fame').show();
        $(".rank-adventure-adventure-fame").hide();

    });

    $('#rankDamageIncrease').on('click', function () {
        $(this).css('color', 'black');
        $('#rankAdventureFame').css('color', '#BDBDBD');
        $('#rankBuffPower').css('color', '#BDBDBD');
        $('#adventureRank').css('color', '#BDBDBD');

        $('.rank-adventure-fame').css('display', 'none');
        $('.rank-buff-power').css('display', 'none');
        $('.rank-damage-increase').show();
        $(".rank-adventure-adventure-fame").hide();

    });

    $('#rankBuffPower').on('click', function () {
        $(this).css('color', 'black');
        $('#rankAdventureFame').css('color', '#BDBDBD');
        $('#rankDamageIncrease').css('color', '#BDBDBD');
        $('#adventureRank').css('color', '#BDBDBD');
        $('.rank-adventure-fame').css('display', 'none');
        $('.rank-damage-increase').css('display', 'none');
        $('.rank-buff-power').show();
        $(".rank-adventure-adventure-fame").hide();

    });

    $('#adventureRank').on('click', function () {
        $(this).css('color', 'black');
        $('#rankBuffPower').css('color', '#BDBDBD');
        $('#rankAdventureFame').css('color', '#BDBDBD');
        $('#rankDamageIncrease').css('color', '#BDBDBD');
        $('.rank-adventure-fame').css('display', 'none');
        $('.rank-damage-increase').css('display', 'none');
        $('.rank-buff-power').hide();
        $(".rank-adventure-adventure-fame").show();
    });


</script>
</body>

</html>